<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="searchButtonClick()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="searchClick === true">
    <ion-buttons slot="primary">
    <ion-button (click)="searchSubmit()">
      <ion-icon slot="icon-only" name="search-circle-outline"></ion-icon>
    </ion-button>
    <ion-input [(ngModel)]="userSearch" placeholder="Search"></ion-input>
    </ion-buttons>
  </div>
</ion-header>

<section class="container">
  <ion-content>
      <section class="map">
        <agm-map 
          [latitude]='_mapService.latitude' 
          [zoom]='zoom' 
          [longitude]='_mapService.longitude'
          [mapTypeId]='mapType'>

          <agm-marker *ngFor="let mark of markers" 
            [latitude]="mark.lat"
            [longitude]="mark.long" >
          </agm-marker>
        </agm-map>
      </section>
  </ion-content>
  
</section>